# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Project

NODE_ENV="development"
TZ="America/Sao_Paulo"
PORT=3006
PLAYGROUND_GRAPHQL=true
DOMAIN="localhost"

# Prisma

LOG_SQL=true
DATABASE_URL="postgresql://rafin:office99@localhost:5432/connyctdb?schema=public"

# Security

JWT_ACCESS_SECRET="example"
JWT_REFRESH_SECRET="example"
JWT_CONFIRM_SECRET="example"

# Sendgrid

SENDGRID_API_KEY=""
SMTP_PROVIDER="mock"